/* ================Login_pg_button==================== */
@media (min-width: 320px) and (max-width: 475px){
    /* .Main_btn{
       width: 100% !important;
    } */
    .Loginby_Ggl,.Loginby_fb{
        width: 20%;
    }
    .Button_txt{
        font-size: 13px;
    }
    
.Email__inp_fld{
    width: 100% !important;
}
.DN-field{
    width:100% !important;
}
.Distance_drp{
width: 100%;
}
}
@media (min-width: 320px) and (max-width: 768px){
.Login_Form_S{
    width: 100% !important;
    margin-top: 20px !important;
}
.contact-img{
    margin-top: 50%;
}
}
