/* ======Roboto-Font-Family====== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ======Inter-Font-Family====== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
   --Persian-Green:#0BABA9;
   --btn-clr:#10bbb9;
   --Tron-Blue:#8AFBF9;
   --Bg-clr:#F0F0F0;
   --white-text:#FFF;
   --black-text:#000;
   --Green-button:#28E225;
   --Red-button:#EF372B;
   --Grey-text:rgba(0, 0, 0, 0.70);
   --radio-button-1:rgba(217, 217, 217, 0.44);
   --radio-button-2:#067877;
   --rating:#FFF503;
   --box-shadow:rgba(0, 0, 0, 0.25);
   --Roboto-FF:'Roboto';
   --Poppins-FF:'Poppins';
   --Inter-FF:'Inter';
}
*{
    margin: 0;
    padding: 0;
}
/* =============Login-Page-Css===============*/
.bg_Clr{
    background-color: var(--Bg-clr);
}
.Bg_Clr_S{
    background-color: var(--Bg-clr);
}
.Bg_Img_S{
    background-image:url(../images/Loginpage/new2.png);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 19px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;

}
.Loginby_Ggl,.Loginby_fb{
    width: 15%;
}
 /* ////////////////////End///////////////////////*/
/* =====================Button===============*/
.Main_btn,.Feedback_btn{
    background-color:var(--Persian-Green) !important;
    color:var(--white-text)!important;
    border-radius: 12px !important;
    font-family: var(--Roboto-FF);
    font-size: 20px;
    font-weight: 700 !important;
    padding: 15px !important;
    text-transform: capitalize;
    transition: transform 1s ease, box-shadow 1s ease, background-color 0.6s ease;
}
.Heading__txt{
 font-weight: 700;
 font-family: var(--Roboto-FF);
}
.pt-6{
    margin-top: 6rem !important;
}
.paragraph_txt{
    font-weight: 600;
    font-size: 18px;
}
.Heading__txt{
    font-size: 25px;
    font-weight: 700;
    font-family: var(--Roboto-FF);
   }
.Login_Form_S{
    width: 75%;
    margin-top: 20px !important;
}
.Admin_radio_btn,.Member_radio_btn{
border-radius: 12px !important;
font-family: var(--Roboto-FF);
font-size: 16px;
}
.FP__Link{
    text-decoration: none;
}
.FP__txt{
color: var(--Persian-Green);
font-family:var(--Poppins-FF);
font-size: 15px;
font-weight: 500;
text-transform: capitalize;
}
.FP__txt:hover{
    color: var(--black-text);
}
.Email__inp_fld,.Password__inp_fld{
    border-radius: 12px !important;
    border: 1px solid var(--Persian-Green) !important;
}
.Email__inp_fld,.Password__inp_fld,.Main_btn,.form-check-input:focus{
   box-shadow: none !important;
}
.Email__inp_fldtxt,.Password__inp_fldtxt,.label1_txt{
font-family:var(--Roboto-FF);
font-size: 16px;
font-style: normal;
font-weight: 500;
}
 /* ////////////////////End///////////////////////*/
/*==============Password_Eye_validation================*/
.Eye_vaidation{
    position: relative;
}
#togglePassword{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.fa-eye{
    color:var(--Persian-Green);
}
.fa-eye-slash:before{
    color:var(--Persian-Green);
}
 /* ////////////////////End///////////////////////*/

/* ================Button_Animation_ON _Hover=============*/
.Main_btn:hover {
    background: linear-gradient(45deg, #075655, #1dd2cf);
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(71, 70, 70, 0.15);
}
.form-check-input:checked{
    background-color: var(--Persian-Green) !important;
    border-color:var(--Tron-Blue) !important ;
}
/* =============Side_img_Animation============================= */
@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .img_anim:hover {
    animation: slideInFromLeft 1s ease-out forwards; 
  }
 /* ////////////////////End///////////////////////*/

/* ================Forgot_Password====================*/
.Bg_Img_FP{
    background-image:url(../images/Loginpage/new.png) ;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 19px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
}
.Btn_S a{
    text-decoration: none !important;

}
 /* ////////////////////End///////////////////////*/
/* ===============Verification-Page============================*/
.square-input-Shape{
    height: 54px;
    width: 56px !important; /* Adjust the height as needed */
    border-radius: 0;
    text-align: center;
    margin: 0 5px;
    border: 1px solid var(--Persian-Green) !important; 
}
.Top-pg-img{
    width:150px;
}
 /* ////////////////////End///////////////////////*/

/* ==================Landing-Page==================================== */
.Banner__img{
    background-image: url(../images/LandingPage/Banner.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
.Banner__img::before {
        content: "";
        position: absolute;
        /* top:0;
        left: 0; */
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        z-index: 1;
      } 
.Banner__img_txt{
        z-index: 1;
    }     
.Banner__paratxt{
    font-family:var(--Roboto-FF);
    font-size: 21px;
    font-weight: 400;
    width: 68%;
    padding: 8px;    
   }
.Span_txt{
    color: var(--Tron-Blue);
}  
.crd-btm-txt{
    font-size: 13px;
}
.PARA_1 {
    text-align: justify;
}

.PARA_1::last-line {
    text-align: left;
}
.img_Surgry{
    width: 80%;
}
.card-person-img{
    width: 27% !important;
}
.Card-FB{
    border-radius: 20px !important;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 25%;
}
.Feedback-avatar{
    margin-top: -18px;
}
.Title_txt{
    color: var(--Persian-Green);
}
.Feedback_hub{
    width: 8%;
}
.fa-star{
    color:var(--rating) ;
}
.Card-fb-txt{
    color: var(--black-text) !important;
    font-weight: 600;
    font-family: var(--Roboto-FF);
}
.FB_txt1{
color:var(--black-text);
font-family: var(--Roboto-FF);
font-size: 24px;
font-weight: 700;
line-height: normal;
}
.Banner-below-txt{
color:var(--black-text);
font-family: var(--Roboto-FF);
font-style: normal;
font-weight:500;
}
.ratings-txt{
    font-size: 14px;
    color:rgba(8, 8, 8, 0.75);
}
.fa-instagram,.fa-twitter,.fa-facebook{
    font-size: 17px !important;

}
.UPL_Pres_btn{
    background-color:var(--Tron-Blue) !important;
    border-radius: 10px !important;
    height: 75px;
}
.Banner_below-btn{
    margin-top:-100px !important;
    z-index: 1;
}
.Button_txt{
    font-size: 17px;
    font-weight: 600;
    font-family:var(--Roboto-FF);
    white-space: normal;
}
.link-icon .fa-facebook,.fa-twitter,.fa-instagram{
    font-size: 20px !important;
}
.link-txt{
    font-size: 16px !important;
}
 /* ////////////////////End///////////////////////*/
/* =======================Feedback-Cards-Animation======================*/
.our-team {
    text-align: center;
    overflow: hidden;
    position: relative;
  }
.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    z-index: 1;
    position: relative;
  }
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #0BABA9;
    position: absolute;
    bottom: 146%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0BABA9;
    position: absolute;
    top: 0;
    bottom: 3%;
    left: 0;
    z-index: -1;
  }
   .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color:#0BABA9;
    position: absolute;
    bottom: -150px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
/* ================Feedback-Cards-Popup=======================*/
 .Card-FB {
    position: relative;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}
.Card-FB:hover {
    transform: scale(1.05);
}
 /* ////////////////////End///////////////////////*/
/* ==================Medicine Donation Page=============================== */
.Med__Banner__img{
    background-image: url(../images/MedicineDonation/white-pill-container-blue-background\ 1.png);
    background-size:cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  /* ////////////////////End///////////////////////*/

  /* ==================Donor&Medicine Details Page=============================== */
  .Donor__Banner__img{
    background-image: url(../images/MedicineDonation/7xm985388.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .Donor__Banner__img::before{
    content: "";
        position: absolute;
        /* top:0;
        left: 0; */
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        z-index: 1;
  }
  .Main-heading{
    background-color: var(--Persian-Green);
    color: var(--white-text);
    border-radius: 5px;

  }
  .table-bordered{
    border:1px solid var(--Persian-Green) !important;
  }
  .table-spaced-rows tbody tr {
    margin-bottom: 0.5rem;
  }
.brdr-1{
  border: 1px solid var(--Persian-Green);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.brd-btm{
  border-bottom: 1px solid var(--Persian-Green)!important;
}
.table>:not(:last-child)>:last-child>*{
  border-bottom: 1px solid var(--Persian-Green)!important;
}
.table1{
  border: 1px solid var(--Persian-Green);
}
.for-bg{
  background-color:var(--Bg-clr) !important;
}
.med,table.dataTable.no-footer{
  border-bottom: 1px solid var(--Persian-Green) !important;
}
.dataTables_length{
  margin-bottom: 1rem;
}
 .form-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .form-group {
            flex-basis: calc(50% - 10px);
            margin-bottom: 20px;
        }

        .form-label {
            display: block;
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
 /* ////////////////////End///////////////////////*/
/* ==========Search Medicine page================== */
.Searching_Med_S{
    background-color:white;
}
.form-select:focus{
  box-shadow: none !important;
}
.LC_txt{
color: #000;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: normal;
padding-left: 13px;
}
.Distance_drp{
border: 1px solid #000;
background: #FFF;
width: 35%;
height: 35px;
}
.of_txt{
color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 5px;
}
.Cities_drp{
border: 1px solid #000;
background: #FFF;
width: 93%;
}
.Text_MedType{
color: #000;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
.quantity-picker {
    display: flex;
    align-items: center;
 }
.quantity-input {
    width: 70%;
    text-align: center;
}
.quantity-button {
    font-size: 18px;
    cursor: pointer;
    width: 14%;
    border: none;
    color: white;
    background-color: var(--btn-clr);
}
  .exp_med_date{
    width: 98%;
  }
.button_Apply_Filter{
   background-color: var(--btn-clr) !important;
    color:white !important;
    border-radius: 25px!important;
    color: #000;
    width: 70%;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700 !important;
    padding: 15px !important;
    text-transform: capitalize;
  }
 /* ==================Health-care-team Page=============================== */
  .Healthcare__Banner__img{
    background-image: url(../images/MedicineDonation/Healthcare.png);
    background-size:cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .Accept-btn{
    background-color: var(--Green-button);
    color:var(--white-text);
    border-radius: 5px;
    border: 1px solid var(--Green-button);
    }
  .Reject-btn{
    background-color: var(--Red-button);
    color: var(--white-text);
    border-radius: 5px;
    border: 1px solid var(--Red-button);
  }
  .Accept-btn,.Reject-btn{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }
   /* ////////////////////End///////////////////////*/
  /* ==================Lets-make-payment-page===================================== */
  .Payment__Banner__img{
    background-image: url(../images/MedicineDonation/GettyImages-1300237697\ 1.png);
    background-size:cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
    /* ////////////////////End///////////////////////*/
  /* ==================Select-payment-page===================================== */
  .input-with-image {
    padding-left: 40px; 
}

.input-image {
    position: absolute;
    left: 10px; 
    top: 70%;
    transform: translateY(-50%);
    pointer-events: none;
}
.bank-cardsimg{
  width: 100px;
  border-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.50);
}
.cards-radio{
  width: 25%;
}
.cards-radio input[type="radio"] {
  transform: scale(1.5);

 }
 /* ========================My-Account page================ */
 .account-img{
  width:100px;
 }
 .for-border-btm{
  border-bottom: 1px solid black;
 }
.for-border-around{
  border:1px solid var(--Persian-Green);
 width: 260px;
height: 40px;
}
.edit-txt{
color: var(--Persian-Green);
font-family:'Roboto';
font-size: 16px;
font-weight: 500;
}
.account-name-edit{
color: rgba(0, 0, 0, 0.70);
font-family:'Poppins';
font-size: 18px;
font-weight: 600;
}
.fa-gear,.fa-box-archive,.fa-bell{
  color:rgba(0, 0, 0, 0.70);
}
.account-txt a{
    color:rgba(0, 0, 0, 0.70);
    text-decoration: none;
}
.fa-arrow-left{
font-size: 25px;
}
.time-holder{
border: none !important;
background: none !important;
color: var(--Persian-Green) !important;
font-family: 'Roboto';
font-weight: 400;
text-transform: lowercase;
}
.multiple-placeholder{
border: 1px solid var(--Persian-Green);
border-radius: 12px;
width: 45%;
}
.for-new-brdr{
  border:none !important;
  background: none !important;
}
.for-new-brdr:focus{
box-shadow: none !important;
}
.for-actv-clr{
  color: var(--Persian-Green);
}
.for-actv-clr.active{
  color: var(--Persian-Green);
}
.crd-donation-history{
border-radius: 12px !important;
}
.med-status-txt{
  color:var(--Persian-Green);
  font-weight: 600;
}
.for-crsr{
  cursor: pointer;
}
.for-main-bg .profile-bg{
  background-color: var(--Persian-Green) !important;
  color: var(--white-text);
}
.txt-notification{
color: var(--Grey-text);
font-family: Roboto;
font-size: 20px;
font-weight: 600;
}
.history-card-txt{
color: rgba(0, 0, 0, 0.70);
font-family: 'Roboto';
font-size: 16px;
font-weight: 500;
text-transform: capitalize;

}
.crd-donation-history2 {
border:none !important;
}
.Main_btn2{
    color:var(--black-text)!important;
    border-radius: 12px !important;
    font-family: var(--Roboto-FF);
    border: 1px solid var(--Persian-Green) !important;
    font-size: 20px;
    font-weight: 400 !important;
    padding: 15px !important;
    text-transform: capitalize;
    transition: transform 1s ease, box-shadow 1s ease, background-color 0.6s ease;
}
.custom-nav-link:hover{
  color: white !important;
}
/* //////////////////////// */

